# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. matplotlib
4. seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

__Objectives:__

- List popular languages for Data Science
- Libraries for data science
- Basic arithmetic expressions

## Author 
Mohd Muneer khan